spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/todaybook
    username: todaybook
    password: todaybook1234
    driver-class-name: org.postgresql.Driver

  application:
    name: search-service
  ai:
    vertex.ai:
      gemini:
        project-id: gen-lang-client-0578788537
        location: us-west1
      embedding:
        project-id: gen-lang-client-0578788537
        location: us-central1
        text:
          options:
            model: gemini-embedding-001
    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 3072
        max-document-batch-size: 10000 # Optional: Maximum number of documents per batch
        table-name: p_book_embeddings