spring:
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:postgresql://localhost:5432/todaybook
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  application:
    name: search-service
  ai:
    vertex.ai:
      gemini:
        project-id: ${VERTEX_AI_PROJECT_ID}
        location: us-west1
      embedding:
        project-id: ${VERTEX_AI_PROJECT_ID}
        location: us-central1
        text:
          options:
            model: gemini-embedding-001
    vectorstore:
      pgvector:
        index-type: HNSW
        distance-type: COSINE_DISTANCE
        dimensions: 3072
        max-document-batch-size: 10000 # Optional: Maximum number of documents per batch
        table-name: p_book_embeddings

custom:
  vertex-ai:
    emotion-analysis:
      temperature: 0.1
      max-tokens: 200
    book-reason-generation:
      temperature: 0.3
      max-tokens: 300

search:
  vector-top-k: 30
  rerank-top-n: 10
