server:
  port: 9005

spring:
  application:
    name: search-service
  ai:
    vertex.ai:
      gemini:
        project-id: ${GCP_PROJECT_ID}
        location: us-west1
      embedding:
        project-id: ${GCP_PROJECT_ID}
        location: us-central1
        text:
          options:
            model: gemini-embedding-001
            dimensions: 768
    vectorstore:
      opensearch:
        uris: ${OPENSEARCH_URIS}
        username: ${OPENSEARCH_USERNAME}
        password: ${OPENSEARCH_PASSWORD}
        index-name: book-embedding-index
        initialize-schema: true
        similarity-function: cosinesimil
        use-approximate-knn: true
        dimensions: 768
        read-timeout: 5000
        connect-timeout: 60000
  jackson:
    deserialization:
      fail-on-unknown-properties: false

book-service:
  url: ${BOOK_SERVICE_URL}

custom:
  vertex-ai:
    emotion-analysis:
      temperature: 0.1
      max-tokens: 200
    book-reason-generation:
      temperature: 0.3
      max-tokens: 300

search:
  vector-top-k: 30
  rerank-top-n: 10

todaybook:
  security:
    mvc:
      enabled: true

---
spring:
  config:
    activate:
      on-profile: local
    import: optional:file:.env[.properties]
  ssl:
    bundle:
      pem:
        opensearch:
          truststore:
            certificate: ${OPENSEARCH_CERT_PATH}
  ai:
    vectorstore:
      opensearch:
        ssl-bundle: opensearch
---
spring:
  config:
    activate:
      on-profile: dev
  ssl:
    bundle:
      pem:
        opensearch:
          truststore:
            certificate: ${OPENSEARCH_CERT_PATH}
  ai:
    vectorstore:
      opensearch:
        ssl-bundle: opensearch