server:
  port: 8080

spring:
  application:
    name: search-service
  cloud:
    discovery:
      enabled: true
  ai:
    vertex.ai:
      gemini:
        project-id: ${GCP_PROJECT_ID}
        location: us-west1
      embedding:
        project-id: ${GCP_PROJECT_ID}
        location: us-central1
        text:
          options:
            model: gemini-embedding-001
            dimensions: 768
    vectorstore:
      opensearch:
        uris: ${OPENSEARCH_URIS}
        username: ${OPENSEARCH_USERNAME}
        password: ${OPENSEARCH_PASSWORD}
        index-name: book-embedding-index
        initialize-schema: true
        similarity-function: cosinesimil
        use-approximate-knn: true
        dimensions: 768
        read-timeout: 5000
        connect-timeout: 60000
  jackson:
    deserialization:
      fail-on-unknown-properties: false

custom:
  vertex-ai:
    emotion-analysis:
      temperature: 0.1
      max-tokens: 200
    book-reason-generation:
      temperature: 0.3
      max-tokens: 300

search:
  vector-top-k: 30
  rerank-top-n: 10

todaybook:
  security:
    mvc:
      enabled: true
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
        exclude: env, heapdump,beans,loggers
      base-path: /internal
  endpoint:
    health:
      show-details: never
    prometheus:
      access: read_only
  metrics:
    tags:
      application: ${spring.application.name}
---
spring:
  config:
    activate:
      on-profile: local
    import: optional:file:.env[.properties]
  ssl:
    bundle:
      pem:
        opensearch:
          truststore:
            certificate: ${OPENSEARCH_CERT_PATH}
  ai:
    vectorstore:
      opensearch:
        ssl-bundle: opensearch
eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://localhost:9100/eureka/
---
spring:
  config:
    activate:
      on-profile: dev
  ssl:
    bundle:
      pem:
        opensearch:
          truststore:
            certificate: ${OPENSEARCH_CERT_PATH}
  ai:
    vectorstore:
      opensearch:
        ssl-bundle: opensearch
eureka:
  instance:
    hostname: search-service
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: http://eureka-server:9100/eureka/

---
spring:
  config:
    activate:
      on-profile: prod
  ssl:
    bundle:
      pem:
        opensearch:
          truststore:
            certificate: ${OPENSEARCH_CERT_PATH}
  ai:
    vectorstore:
      opensearch:
        ssl-bundle: opensearch
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://ip-10-0-0-183.ap-northeast-2.compute.internal:9100/eureka/