server:
  port: 8081

spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: search-service
  ai:
    vertex.ai:
      gemini:
        project-id: ${VERTEX_AI_PROJECT_ID}
        location: us-west1
      embedding:
        project-id: ${VERTEX_AI_PROJECT_ID}
        location: us-central1
        text:
          options:
            model: gemini-embedding-001
    vectorstore:
      opensearch:
        uris: http://localhost:9200
        index-name: book-embedding-index
        initialize-schema: true
        similarity-function: cosinesimil
        dimensions: 3072
        read-timeout: 5000
        connect-timeout: 60000

custom:
  vertex-ai:
    emotion-analysis:
      temperature: 0.1
      max-tokens: 200
    book-reason-generation:
      temperature: 0.3
      max-tokens: 300

search:
  vector-top-k: 30
  rerank-top-n: 10

todaybook:
  security:
    mvc:
      enabled: true